@using FirstTask.Handlers;

@{
	var localizer = new LocalizHandler();
	ViewBag.Title = localizer.GetValue("HeadingServicesHistory");
}
<div class="container">
	<h2>@localizer.GetValue("HeadingServicesHistory")</h2>

	<div id="scheduler"></div>

	<div id="reportWindow">
		<form id="reportForm"></form>
	</div>

	<div id="schedulerNotifications"></div>

	<div>
		<button id="reportWindowButton">@localizer.GetValue("ButtonPrint")</button>
	</div>
</div>

<script id="schedulerEditor" type="text/x-kendo-template">
	<div class="container">
		<form id="schedulerForm">
		</form>
	</div>
</script>

<script type="text/javascript">

	$(document).ready(function () {

		
		var employee = getEmployeeList();
		var services = getServiceList();
		var companies = getCompanyList();

		// Добавление возможности выбора всех записей при создании отчета
		function EmployeeForReport() {
			var newEmployee = Array.from(employee);
			let newLenght = newEmployee.push({ Id: -1, FullName: "<-- Выбрать все -->" });

			let buffer = newEmployee[0];
			newEmployee[0] = newEmployee[newLenght-1];
			newEmployee[newLenght] = buffer;

			return newEmployee;
		}

		function ServicesForReport() {
			var newServices = Array.from(services);
			let newLenght = newServices.push({ Id: -1, Name: "<-- Выбрать все -->" });

			let buffer = newServices[0];
			newServices[0] = newServices[newLenght - 1];
			newServices[newLenght - 1] = buffer;

			return newServices;
		}

		function CompaniesForReport() {
			var newCompanies = Array.from(companies);
			let newLenght = newCompanies.push({ Id: -1, Name: "<-- Выбрать все -->" });

			let buffer = newCompanies[0];
			newCompanies[0] = newCompanies[newLenght - 1];
			newCompanies[newLenght - 1] = buffer;

			return newCompanies;
		}

		var notifElement = $("#schedulerNotifications");
		notifElement.kendoNotification();
		var notification = notifElement.data("kendoNotification")

		//REPORT

		$("#reportWindow").kendoDialog({
			modal: true,
			width: "500px",
			closable: false,
			visible: false,
			title: false,
		});

		var reportWindow = $("#reportWindow").data("kendoDialog");

		$("body").on("click", "#reportWindowButton", function () {
			reportWindow.open();
		});

		$("body").on("click", "#reportCloseWindow", function () {
			reportWindow.close();
		});

		var formReport = $("#reportForm").kendoForm({
			visible: true,
			items: [
				{
					type: "group",
					label: "@localizer.GetValue("ReportFormHeader")",
					items: [
						{
							field: "CompanyId", label: "@localizer.GetValue("LabelCompany")",
							editor: function (container, options) {
								var input = $('<input id="reportCompanyId" name="CompanyId"/>');
								input.appendTo(container);
								input.kendoComboBox({
									placeholder: "@localizer.GetValue("PlaceholderCompany")",
									dataTextField: "Name",
									dataValueField: "Id",
									filter: "contains",
									dataSource: CompaniesForReport()
								});
							}
						},
						{
							field: "ServiceId", label: "@localizer.GetValue("LabelService")",
							editor: function (container, options) {
								var input = $('<input id="reportServiceId" name="ServiceId"/>');
								input.appendTo(container);
								input.kendoComboBox({
									placeholder: "Введите название",
									dataTextField: "Name",
									dataValueField: "Id",
									filter: "contains",
									dataSource: ServicesForReport()
								});
							}
						},
						{
							field: "EmployeeId", label: "@localizer.GetValue("LabelEmployee")",
							editor: function (container, options) {
								var input = $('<input id="reportEmployeeId" name="EmployeeId"/>');
								input.appendTo(container);
								input.kendoComboBox({
									placeholder: "@localizer.GetValue("PlaceholderEmployee")",
									dataTextField: "FullName",
									dataValueField: "Id",
									filter: "contains",
									dataSource: EmployeeForReport()
								});
							}
						},
						{
							field: "Date", label: "@localizer.GetValue("LabelReportPeriod")",
							editor: function (container, options) {
								var flexContainer = $('<div style="display: flex; font-weight: bold; justify-content: space-around; margin: 10px 0px;"/></div>');
								var input1 = $('<input id="reportDateBegin" name="DateBegin"/>');
								var input2 = $('<input id="reportDateEnd" name="DateEnd"/>');
								var p1 = $('<p>с </p>');
								var p2 = $('<p>по </p>');
								input1.appendTo(flexContainer);
								input1.kendoDatePicker({
									format: 'MM/dd/yyyy',
								});
								p2.appendTo(flexContainer);
								input2.appendTo(flexContainer);
								input2.kendoDatePicker({
									format: 'MM/dd/yyyy',
								});
								flexContainer.appendTo(container);
							}
						},
						{
							field: "Type", label: "@localizer.GetValue("LabelType")",
							editor: function (container, options) {
								var input = $('<input id="reportReportType" name="Type"/>');
								input.appendTo(container);
								input.kendoDropDownList({
									dataTextField: "text",
									dataValueField: "value",
									dataSource: [
										{ text: "Excel", value: 1 },
										{ text: "Word", value: 2 },
										{ text: "PDF", value: 3 },
										{ text: "XML", value: 4 },
										{ text: "PNG", value: 5 },
									]
								})
							}
						},
					]
				}
			],
			buttonsTemplate: "<button class='btn-primary' type='submit'>@localizer.GetValue("ButtonPrint")</button> <button class='btn-default' id='reportCloseWindow' type='button'>@localizer.GetValue("ButtonCancellation")</button>"
		});

		formReport.bind("submit", function (e) {
			e.preventDefault();
			let url = window.location.href;

			var date1 = $("#reportDateBegin").val();
			var date2 = $("#reportDateEnd").val();
			var companyId = $("#reportCompanyId").val();
			var serviceId = $("#reportServiceId").val();
			var employeeId = $("#reportEmployeeId").val();
			var type = $("#reportReportType").val();

			window.open("GetReport/?DateBegin=" + date1 + "&DateEnd=" + date2 + "&CompanyId=" + companyId + "&ServiceId=" + serviceId + "&EmployeeId=" + employeeId + "&Type=" + type);

			$("#reportWindow").data("kendoDialog").close();
		});

		// SCHEDULER
		var dataSource = new kendo.data.SchedulerDataSource({
			sync: function () {
				this.read();
			},
			transport: {
				read: {
					url: "/ServicesHistory/Index",
					type: "POST",
					contentType: "application/json; charset=utf-8",
				},
				create: {
					url: "/ServicesHistory/Create",
					type: "POST",
					contentType: "application/json; charset=utf-8",
				},
				update: {
					url: "/ServicesHistory/Update",
					type: "POST",
					contentType: "application/json; charset=utf-8",
				},
				destroy: {
					url: "/ServicesHistory/Delete",
					type: "POST",
					contentType: "application/json; charset=utf-8",
				},
				parameterMap: function (options, type) {
					let scheduler = $("#scheduler").data("kendoScheduler");
					let timeZone = scheduler._model.formattedShortDate.split('- ').join('');
					let timeZoneArray = timeZone.split(' ');
					let dateBegin = new Date(timeZoneArray[0]).toLocaleDateString();
					let dateEnd = new Date(timeZoneArray[1]).toLocaleDateString();
					if (type == "read") {
						let json = {
							DateBegin: dateBegin,
							DateEnd: dateEnd
						};

						return kendo.stringify(json);
					}
					else if (type == "create") {
						let json = {
							DateOfCreate: $("#schedulerDateOfCreate").data("kendoDateTimePicker").value(),
							Employee: { Id: $("#schedulerEmployee").val() },
							Company: { Id: $("#schedulerCompany").val() },
							Service: { Id: $("#schedulerService").val() }
						};
						return kendo.stringify(json);
					}
					else if (type == "update") {
						let json = {
							Id: options.Id,
							DateOfCreate: $("#schedulerDateOfCreate").data("kendoDateTimePicker").value(),
							Employee: { Id: $("#schedulerEmployee").val() },
							Company: { Id: $("#schedulerCompany").val() },
							Service: { Id: $("#schedulerService").val() }
						}
						return kendo.stringify(json);
					}
					else if (type == "destroy") {
						return kendo.stringify({ id: options.Id });
					}
				}
			},
			requestEnd: function (e) {
				if (e.type == "update" || e.type == "create") {
					$("#scheduler").data("kendoScheduler").dataSource.read();
				}

				if (e.type == "update" || e.type == "create" || e.type == "destroy") {
					let result = e.response;
					if (result.IsSuccess) {
						notification.success(result.Message);
					}
					else {
						notification.error(result.Error);
					}
				}
			},
			batch: false,
			schema: {
				model: {
					id: "Id",
					fields: {
						title: { from: "Title" },
						start: { type: "date", from: "DateOfCreate" },
						end: { type: "date", from: "DateOfFinish" }
					}
				}
			}
		});
		$("#scheduler").kendoScheduler({
			dataSource: dataSource,
			deleteWindowTitle: "123123",
			startTime: new Date("2021/01/01 07:00"),
			endTime: new Date("2021/12/01 18:00"),
			showWorkHours: "none",
			majorTimeHeaderTemplate: kendo.template("<strong>#=kendo.toString(date, 'HH:mm')#</strong><sup></sup>"),
			height: "600px",
			databound: "",
			views: [
				{
					type: "workWeek",
					title: "Week",
					minorTickCount: 1,
					majorTick: 15,
					slotHeight: 10,
					dateHeaderTemplate: kendo.template("<span class='days-name'>#=kendo.toString(date, 'dd.MM.yyyy')#</span>"),
					allDaySlot: false,
					selectedDateFormat: "{0:dddd dd.MM.yy}"
				}],
			dateHeaderTemplate: kendo.template("<u>#=kendo.toString(date, 'dd/M')#</u> - (#=percentage(date)#%)"),
			messages: {
				deleteWindowTitle: "@localizer.GetValue("ButtonDelete")",
				cancel: "Нет",
				destroy: "Да",
			},
			editable: {
				confirmation: "@localizer.GetValue("DeleteWarningMessage")",
				template: $("#schedulerEditor").html(),
				window: {
					title: "@localizer.GetValue("SchedulerFormHeader")",
					width: "650px",
					height: "400px",
					scrollable: false
				}
			},
			destroy: {
				template: $("#schedulerEditor").html(),
			},
			edit: function (e) {
				$("#schedulerForm").kendoForm({
					orientation: "vertical",
					buttonsTemplate: "",
					items: [
						{
							field: "DateOfCreate", label: "@localizer.GetValue("LabelDateOfBegin")", validation: { required: true },
							editor: function (container, options) {
								let input = $('<input id="schedulerDateOfCreate" type="datetime" name="DateOfCreate" required="required" />');
								input.appendTo(container);
								input.kendoDateTimePicker({
									format: "MM/dd/yy hh:mm tt"
								});
							}
						},
						{
							field: "ServiceId", label: "@localizer.GetValue("LabelService")", validation: { required: true },
							editor: function (container, options) {
								let input = $('<input id="schedulerService" name="SchedulerServiceId" required="required" />');
								input.appendTo(container);
								input.kendoComboBox({
									dataSource: services,
									placeholder: "@localizer.GetValue("PlaceholderService")",
									dataTextField: "Name",
									dataValueField: "Id",
									filter: "contains",
								});
							}
						},
						{
							field: "CompanyId", label: "@localizer.GetValue("LabelCompany")", validation: { required: true },
							editor: function (container, options) {
								let input = $('<input id="schedulerCompany" name="SchedulerCompanyId" required="required" />');
								input.appendTo(container);
								input.kendoComboBox({
									dataSource: companies,
									placeholder: "@localizer.GetValue("PlaceholderCompany")",
									dataTextField: "Name",
									dataValueField: "Id",
									filter: "contains",
								});
							}
						},
						{
							field: "EmployeeId", label: "@localizer.GetValue("LabelEmployee")", validation: { required: true },
							editor: function (container, options) {
								let input = $('<input id="schedulerEmployee" name="SchedulerEmployeeId" required="required" />');
								input.appendTo(container);
								input.kendoComboBox({
									placeholder: "@localizer.GetValue("LabelEmployee")",
									dataTextField: "FullName",
									dataValueField: "Id",
									filter: "contains",
									dataSource: employee,
									value: "4"
								});
							}
						},
					]
				})
				// Fill form fields
				if (e.event.Id > 0) {
					$("#schedulerDateOfCreate").data("kendoDateTimePicker").value(e.event.start);
					$("#schedulerCompany").data("kendoComboBox").value(e.event.Company.Id);
					$("#schedulerService").data("kendoComboBox").value(e.event.Service.Id);
					$("#schedulerEmployee").data("kendoComboBox").value(e.event.Employee.Id);
				}
				else {
					$("#schedulerDateOfCreate").data("kendoDateTimePicker").value(e.event.start);
				}

				let buttonsContainer = e.container.find(".k-edit-buttons");
				let cancelButton = buttonsContainer.find(".k-scheduler-cancel");
				let saveButton = buttonsContainer.find(".k-scheduler-update");
				let deleteButton = buttonsContainer.find(".k-scheduler-delete");
				cancelButton.text("@localizer.GetValue("ButtonCancellation")");
				saveButton.text("@localizer.GetValue("ButtonSave")");
				deleteButton.text("@localizer.GetValue("ButtonDelete")");
				saveButton.click(function () {
					if (e.event.Id > 0) {
						let sheduler = $("#scheduler").data("kendoScheduler");
						sheduler.dataSource.at(sheduler.dataSource.indexOf(e.event)).set();
					}
				});
			}
		});

		$('.k-nav-today').text("@localizer.GetValue("ButtonToday")");
		$(".k-nav-today").on("click", function () {
			$("#scheduler").data("kendoScheduler").dataSource.read();
			$("#scheduler").data("kendoScheduler").dataSource.read();
		});

		$(".k-nav-prev").on("click", function () {
			$("#scheduler").data("kendoScheduler").dataSource.read();
			$("#scheduler").data("kendoScheduler").dataSource.read();
		});

		$(".k-nav-next").on("click", function () {
			$("#scheduler").data("kendoScheduler").dataSource.read();
			$("#scheduler").data("kendoScheduler").dataSource.read();
		});
		$(".k-event-delete").on("click", function () {
			console.log("1321212");
		});
	});
</script>