@using FirstTask.Resources;

@{
	ViewBag.Title = Resource.HeadingServicesHistory;
}
<div class="container">
	<h2>@Resource.HeadingServicesHistory</h2>

	<div id="scheduler"></div>

	<div id="reportWindow">
		<form id="reportForm"></form>
	</div>

	<div id="schedulerNotifications"></div>

	<div>
		<button id="reportWindowButton">@Resource.ButtonPrint</button>
	</div>
</div>

<script id="schedulerEditor" type="text/x-kendo-template">
	<div class="container">
		<form id="schedulerForm">
		</form>
	</div>
</script>

<script type="text/javascript">

	$(document).ready(function () {
		var notifElement = $("#schedulerNotifications");
		notifElement.kendoNotification();
		var notification = notifElement.data("kendoNotification")

		//REPORT

		$("#reportWindow").kendoDialog({
			modal: true,
			width: "500px",
			closable: false,
			visible: false,
			title: false,
		});

		var reportWindow = $("#reportWindow").data("kendoDialog");

		$("body").on("click", "#reportWindowButton", function () {
			reportWindow.open();
		});

		$("body").on("click", "#reportCloseWindow", function () {
			reportWindow.close();
		});

		var formReport = $("#reportForm").kendoForm({
			visible: true,
			items: [
				{
					type: "group",
					label: "@Resource.ReportFormHeader",
					items: [
						{
							field: "CompanyId", label: "@Resource.LabelCompany",
							editor: function (container, options) {
								var input = $('<input id="reportCompanyId" name="CompanyId"/>');
								input.appendTo(container);
								input.kendoComboBox({
									placeholder: "@Resource.PlaceholderCompany",
									dataTextField: "Name",
									dataValueField: "Id",
									filter: "contains",
									dataSource: {
										serverFiltering: true,
										transport: {
											read: {
												url: "/Company/Index/",
												type: "POST",
												data: {
													CompanyName: null,
													Page: 1,
													PageSize: -1,
													Status: 1
												}
											}
										}
									},
									open: function (e) {
										let items = this.dataSource.view();
										let IsFirst = items.find(x => x.Id === -1) == undefined;

										if (IsFirst) {
											this.dataSource.add({ Name: "<- Выбрать все ->", Id: -1 });
											this.value(-1);
										}
									}
								});
							}
						},
						{
							field: "ServiceId", label: "@Resource.LabelService",
							editor: function (container, options) {
								var input = $('<input id="reportServiceId" name="ServiceId"/>');
								input.appendTo(container);
								input.kendoComboBox({
									placeholder: "Введите название",
									dataTextField: "Name",
									dataValueField: "Id",
									filter: "contains",
									dataSource: {
										serverFiltering: true,
										transport: {
											read: {
												url: "/Service/Index/",
												type: "POST",
												data: {
													CompanyName: null,
													Page: 1,
													PageSize: -1,
													Status: 1
												}
											},
										}
									},
									open: function (e) {
										let items = this.dataSource.view();
										let IsFirst = items.find(x => x.Id === -1) == undefined;

										if (IsFirst) {
											this.dataSource.add({ Name: "<- Выбрать все ->", Id: -1 });
											this.value(-1);
										}
									}
								});
							}
						},
						{
							field: "EmployeeId", label: "@Resource.LabelEmployee",
							editor: function (container, options) {
								var input = $('<input id="reportEmployeeId" name="EmployeeId"/>');
								input.appendTo(container);
								input.kendoComboBox({
									placeholder: "@Resource.PlaceholderEmployee",
									dataTextField: "FullName",
									dataValueField: "Id",
									filter: "startswith",
									dataSource: {
										serverFiltering: true,
										transport: {
											read: {
												url: "/Employee/Index/",
												type: "POST",
												data: {
													CompanyName: null,
													Page: 1,
													PageSize: -1,
													Status: 1
												}
											},
										}
									},
									open: function (e) {
										let items = this.dataSource.view();
										let IsFirst = items.find(x => x.Id === -1) == undefined;

										if (IsFirst) {
											this.dataSource.add({ FullName: "<- Выбрать все ->", Id: -1 });
											this.value(-1);
										}
									}
								});
							}
						},
						{
							field: "Date", label: "@Resource.LabelReportPeriod",
							editor: function (container, options) {
								var flexContainer = $('<div style="display: flex; font-weight: bold; justify-content: space-around; margin: 10px 0px;"/></div>');
								var input1 = $('<input id="reportDateBegin" name="DateBegin" placeholder="Начало" style="text-align: center"/>');
								var input2 = $('<input id="reportDateEnd" name="DateEnd"  placeholder="Конец" style="text-align: center"/>');
								input1.appendTo(flexContainer);
								input1.kendoDatePicker({
									format: 'MM/dd/yyyy',
								});
								input2.appendTo(flexContainer);
								input2.kendoDatePicker({
									format: 'MM/dd/yyyy',
								});
								flexContainer.appendTo(container);
							}
						},
						{
							field: "Type", label: "@Resource.LabelType",
							editor: function (container, options) {
								var input = $('<input id="reportReportType" name="Type"/>');
								input.appendTo(container);
								input.kendoDropDownList({
									dataTextField: "text",
									dataValueField: "value",
									dataSource: [
										{ text: "Excel", value: 1 },
										{ text: "Word", value: 2 },
										{ text: "PDF", value: 3 },
										{ text: "XML", value: 4 },
										{ text: "PNG", value: 5 },
									]
								})
							}
						},
					]
				}
			],
			buttonsTemplate: "<button class='btn-primary' type='submit'>@Resource.ButtonPrint</button> <button class='btn-default' id='reportCloseWindow' type='button'>@Resource.ButtonCancellation</button>"
		});

		formReport.bind("submit", function (e) {
			e.preventDefault();
			let url = window.location.href;

			var date1 = $("#reportDateBegin").val();
			var date2 = $("#reportDateEnd").val();
			var companyId = $("#reportCompanyId").val();
			var serviceId = $("#reportServiceId").val();
			var employeeId = $("#reportEmployeeId").val();
			var type = $("#reportReportType").val();

			window.open("GetReport/?DateBegin=" + date1 + "&DateEnd=" + date2 + "&CompanyId=" + companyId + "&ServiceId=" + serviceId + "&EmployeeId=" + employeeId + "&Type=" + type);

			$("#reportWindow").data("kendoDialog").close();
		});

		// SCHEDULER
		var dataSource = new kendo.data.SchedulerDataSource({
			sync: function () {
				this.read();
			},
			transport: {
				read: {
					url: "/ServicesHistory/Index",
					type: "POST",
					contentType: "application/json; charset=utf-8",
				},
				create: {
					url: "/ServicesHistory/Create",
					type: "POST",
					contentType: "application/json; charset=utf-8",
				},
				update: {
					url: "/ServicesHistory/Update",
					type: "POST",
					contentType: "application/json; charset=utf-8",
				},
				destroy: {
					url: "/ServicesHistory/Delete",
					type: "POST",
					contentType: "application/json; charset=utf-8",
				},
				parameterMap: function (options, type) {
					let scheduler = $("#scheduler").data("kendoScheduler");
					let timeZone = scheduler._model.formattedShortDate.split('- ').join('');
					let timeZoneArray = timeZone.split(' ');
					let dateBegin = new Date(timeZoneArray[0]).toLocaleDateString();
					let dateEnd = new Date(timeZoneArray[1]).toLocaleDateString();
					if (type == "read") {
						let json = {
							DateBegin: dateBegin,
							DateEnd: dateEnd
						};

						return kendo.stringify(json);
					}
					else if (type == "create") {
						let json = {
							DateOfCreate: $("#schedulerDateOfCreate").data("kendoDateTimePicker").value(),
							Employee: { Id: $("#schedulerEmployee").val() },
							Company: { Id: $("#schedulerCompany").val() },
							Service: { Id: $("#schedulerService").val() }
						};
						return kendo.stringify(json);
					}
					else if (type == "update") {
						let json = {
							Id: options.Id,
							DateOfCreate: $("#schedulerDateOfCreate").data("kendoDateTimePicker").value(),
							Employee: { Id: $("#schedulerEmployee").val() },
							Company: { Id: $("#schedulerCompany").val() },
							Service: { Id: $("#schedulerService").val() }
						}
						return kendo.stringify(json);
					}
					else if (type == "destroy") {
						return kendo.stringify({ id: options.Id });
					}
				}
			},
			requestEnd: function (e) {
				if (e.type == "update" || e.type == "create") {
					$("#scheduler").data("kendoScheduler").dataSource.read();
				}
				if (e.type == "update" || e.type == "create" || e.type == "destroy") {
					if (e.response.IsSuccess == true) {
						notification.success(e.response.Message);
					}
					else {
						notification.error(e.response.Message);
					}
				}
			},
			batch: false,
			schema: {
				model: {
					id: "Id",
					fields: {
						title: { from: "Title" },
						start: { type: "date", from: "DateOfCreate" },
						end: { type: "date", from: "DateOfFinish" }
					}
				}
			}
		});
		$("#scheduler").kendoScheduler({
			dataSource: dataSource,
			deleteWindowTitle: "123123",
			startTime: new Date("2021/01/01 07:00"),
			endTime: new Date("2021/12/01 18:00"),
			showWorkHours: "none",
			majorTimeHeaderTemplate: kendo.template("<strong>#=kendo.toString(date, 'HH:mm')#</strong><sup></sup>"),
			height: "600px",
			databound: "",
			views: [
				{
					type: "workWeek",
					title: "Week",
					minorTickCount: 1,
					majorTick: 15,
					slotHeight: 10,
					dateHeaderTemplate: kendo.template("<span class='days-name'>#=kendo.toString(date, 'dd.MM.yyyy')#</span>"),
					allDaySlot: false,
					selectedDateFormat: "{0: dd.MM.yy}"
				}],
			dateHeaderTemplate: kendo.template("<u>#=kendo.toString(date, 'dd/M')#</u> - (#=percentage(date)#%)"),
			messages: {
				deleteWindowTitle: "@Resource.ButtonDelete",
				cancel: "Нет",
				destroy: "Да",
			},
			editable: {
				confirmation: "@Resource.DeleteWarningMessage",
				template: $("#schedulerEditor").html(),
				window: {
					title: "@Resource.SchedulerFormHeader",
					width: "650px",
					height: "400px",
					scrollable: false
				}
			},
			destroy: {
				template: $("#schedulerEditor").html(),
			},
			edit: function (e) {
				$("#schedulerForm").kendoForm({
					orientation: "vertical",
					buttonsTemplate: "",
					items: [
						{
							field: "DateOfCreate", label: "@Resource.LabelDateOfBegin",
							editor: function (container, options) {
								let input = $('<input id="schedulerDateOfCreate" type="datetime" name="DateOfCreate" />');
								input.appendTo(container);
								input.kendoDateTimePicker({
									format: "MM/dd/yy HH:mm"
								});
							}
						},
						{
							field: "ServiceId", label: "@Resource.LabelService",
							editor: function (container, options) {
								let input = $('<input id="schedulerService" name="SchedulerServiceId"/>');
								input.appendTo(container);
								input.kendoComboBox({
									placeholder: "@Resource.PlaceholderService",
									dataTextField: "Name",
									dataValueField: "Id",
									filter: "contains",
									optionLabel: "None",
									dataSource: {
										serverFiltering: true,
										transport: {
											read: {
												url: "/Service/Index/",
												type: "POST",
												data: {
													CompanyName: null,
													Page: 1,
													PageSize: -1,
													Status: 1
												}
											},
										}
									}
								});
							}
						},
						{
							field: "CompanyId", label: "@Resource.LabelCompany",
							editor: function (container, options) {
								let input = $('<input id="schedulerCompany" name="SchedulerCompanyId"/>');
								input.appendTo(container);
								input.kendoComboBox({
									placeholder: "@Resource.PlaceholderCompany",
									dataTextField: "Name",
									dataValueField: "Id",
									filter: "contains",
									dataSource: {
										serverFiltering: true,
										transport: {
											read: {
												url: "/Company/Index/",
												type: "POST",
												data: {
													CompanyName: null,
													Page: 1,
													PageSize: -1,
													Status: 1
												}
											},
										}
									}
								});
							}
						},
						{
							field: "EmployeeId", label: "@Resource.LabelEmployee",
							editor: function (container, options) {
								let input = $('<input id="schedulerEmployee" name="SchedulerEmployeeId" />');
								input.appendTo(container);
								input.kendoComboBox({
									placeholder: "@Resource.LabelEmployee",
									dataTextField: "FullName",
									dataValueField: "Id",
									filter: "contains",
									dataSource: {
										serverFiltering: true,
										transport: {
											read: {
												url: "/Employee/Index/",
												type: "POST",
												data: {
													CompanyName: null,
													Page: 1,
													PageSize: -1,
													Status: 1
												}
											},
										}
									}
								});
							}
						},
					]
				});

				// Validation
				$("#schedulerForm").validate({
					ignore: [],
					rules: {
						DateOfCreate: {
							required: true,
							dateFilter: true
						},
						SchedulerEmployeeId: {
							cmbIsRequired: true
						},
						SchedulerCompanyId: {
							cmbIsRequired: true
						},
						SchedulerServiceId: {
							cmbIsRequired: true
						}
					},
					messages: {
						DateOfCreate: {
							required: "@Resource.ValidationMessageInputRequired",
							dateFilter: "@Resource.ValidationMessageDateNonCorrect"
						},
						SchedulerEmployeeId: {
							cmbIsRequired: "@Resource.ValidationMessageInputRequired"
						},
						SchedulerCompanyId: {
							cmbIsRequired: "@Resource.ValidationMessageInputRequired"
						},
						SchedulerServiceId: {
							cmbIsRequired: "@Resource.ValidationMessageInputRequired"
						}
					},
					focusInvalid: true,
					errorClass: "validationFormMessage",
					errorElement: 'p',
					errorPlacement: function (error, element) {

						error.insertAfter(element.closest('div'));
					}
				});

				// Fill form fields
				if (e.event.Id > 0) {
					$("#schedulerDateOfCreate").data("kendoDateTimePicker").value(e.event.start);
					$("#schedulerCompany").data("kendoComboBox").value(e.event.Company.Id);
					$("#schedulerService").data("kendoComboBox").value(e.event.Service.Id);
					$("#schedulerEmployee").data("kendoComboBox").value(e.event.Employee.Id);
				}
				else {
					$("#schedulerDateOfCreate").data("kendoDateTimePicker").value(e.event.start);
				}

				let buttonsContainer = e.container.find(".k-edit-buttons");
				let cancelButton = buttonsContainer.find(".k-scheduler-cancel");
				let saveButton = buttonsContainer.find(".k-scheduler-update");
				let deleteButton = buttonsContainer.find(".k-scheduler-delete");
				cancelButton.text("@Resource.ButtonCancellation");
				saveButton.text("@Resource.ButtonSave");
				deleteButton.text("@Resource.ButtonDelete");
				saveButton.click(function () {
					if (e.event.Id > 0) {
						let sheduler = $("#scheduler").data("kendoScheduler");
						sheduler.dataSource.at(sheduler.dataSource.indexOf(e.event)).set();
					}
				});
			}
		});

		$('.k-nav-today').text("@Resource.ButtonToday");
		$(".k-nav-today").on("click", function () {
			$("#scheduler").data("kendoScheduler").dataSource.read();
			$("#scheduler").data("kendoScheduler").dataSource.read();
		});

		$(".k-nav-prev").on("click", function () {
			$("#scheduler").data("kendoScheduler").dataSource.read();
			$("#scheduler").data("kendoScheduler").dataSource.read();
		});

		$(".k-nav-next").on("click", function () {
			$("#scheduler").data("kendoScheduler").dataSource.read();
			$("#scheduler").data("kendoScheduler").dataSource.read();
		});
		$(".k-event-delete").on("click", function () {
			alert("delete");
		});
	});
</script>