@using ServiceRegister.Resources
<!DOCTYPE html>
<html lang="ru">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta charset="utf-8ц" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title</title>
	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/modernizr")

	<link href="~/Content/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
	<link href="~/Content/kendoui.for.jquery.2021.3.914.trial/styles/kendo.common.min.css" rel="stylesheet" />
	<link href="~/Content/kendoui.for.jquery.2021.3.914.trial/styles/kendo.bootstrap-v4.css" rel="stylesheet" />
	<link href="~/Content/Site.css" rel="stylesheet" />

	<script src="~/Scripts/jquery-3.4.1.js"></script>
	<script src="~/Scripts/jquery.validate.min.js"></script>
	<script src="~/Content/kendoui.for.jquery.2021.3.914.trial/js/kendo.all.min.js"></script>
</head>
<body>

	<nav class="navbar navbar-expand-md navbar-dark bg-dark justify-content-between">
		<a class="navbar-brand" href="/Home/Index">
			<img src="~/Content/Images/logo.png" alt="Alternate Text" />
		</a>

		<ul class="nav">
			<li class="nav-item">
				<a href="/Company/Index" class="nav-link">@Resource.HeadingCompanies</a>
			</li>
			<li class="nav-item">
				<a href="/Service/Index" class="nav-link">@Resource.HeadingServices</a>
			</li>
			<li class="nav-item">
				<a href="/ServiceProvided/Index" class="nav-link">@Resource.HeadingServicesProvided</a>
			</li>
			<li class="nav-item">
				<a href="/Employee/Index" class="nav-link">@Resource.HeadingEmployee</a>
			</li>
			<li class="nav-item">
				<a href="/ServicesHistory/Index" class="nav-link">@Resource.HeadingServicesHistory</a>
			</li>
		</ul>
	</nav>

	<div class="content">
		@RenderBody()
	</div>

	<!--
	<div class="footer bg-dark" style="min-width: 1280px">
		<div class="container">
			<div class="row">
				<div class="col-10">
					<ul class="nav nav-pills nav-fill">
						<li class="nav-item">
							<a href="https://www.youtube.com/" class="nav-link">Youtube</a>
						</li>
						<li class="nav-item">
							<a href="https://www.instagram.com/" class="nav-link">Instagram</a>
						</li>
						<li class="nav-item">
							<a href="https://telegram.org/" class="nav-link">Telegram</a>
						</li>
					</ul>
				</div>
				<div class="col-2" style="margin-top: 10px;">
					<p>#Коробов В.А. Октябрь 2021</p>
				</div>
			</div>
		</div>
	</div>
	-->

	<div id="loading">
	</div>

	<script type="text/javascript" src="~/Content/js/main.js"></script>
	<script type="text/javascript" src="~/Content/js/styles.js"></script>
	<script src="~/Content/kendoui.for.jquery.2021.3.914.trial/js/messages/kendo.messages.ru-RU.min.js"></script>
	<script src="~/Content/kendoui.for.jquery.2021.3.914.trial/js/cultures/kendo.culture.ru-RU.min.js"></script>
	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
	@RenderSection("scripts", required: false)
</body>
</html>
