@using FirstTask.Resources;

<form id="serviceForm" class="submit-form">
	<h2 id="serviceFormTitle"></h2>
	<input type="hidden" name="Id" id="serviceInputId" />
	<input type="hidden" name="Status" id="serviceInputStatus" />
	<div class="container submit-form-fields">
		<div class="row">
			<div class="col-4">
				<label for="name">@Resource.LabelName</label>
			</div>
			<div class="col-7">
				<input type="text" name="Name" id="serviceInputName" placeholder="@Resource.PlaceholderName" />
			</div>
		</div>
		<div class="row">
			<div class="col-4">
				<label for="Code">@Resource.LabelCode</label>
			</div>
			<div class="col-7">
				<input type="text" name="Code" id="serviceInputCode" placeholder="@Resource.PlaceholderServiceCode" />
				<span></span>
			</div>
		</div>
		<div class="row">
			<div class="col-4">
				<label for="Price">@Resource.LabelPrice</label>
			</div>
			<div class="col-7">
				<input type="text" name="Price" id="serviceInputPrice" placeholder="@Resource.PlaceholderPrice" />
				<span></span>
			</div>
		</div>
		<div class="row">
			<div class="col-4">
				<label for="name">@Resource.LabelDateOfBegin</label>
			</div>
			<div class="col-7">
				<input type="text" name="DateOfBegin" id="serviceInputDateOfBegin" placeholder="@Resource.PlaceholderDateOfBegin" />
				<span></span>
			</div>
		</div>
	</div>
	<div class="button-block">
		<button type="submit" id="serviceFormButtonSubmit" class="btn-primary">@Resource.ButtonSave</button>
		<button id="serviceFormButtonCancel" type="button" class="btn-default">@Resource.ButtonCancellation</button>
	</div>
</form>
