@{
	ViewBag.Title = "Services";
}

<table id="grid">
	<thead>
		<tr>
			<th>Id</th>
			<th>Название услуги</th>
			<th>Цена</th>
			<th>Начало оказания услуги</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var el in ViewBag.Data)
		{
			<tr>
				<td>@el.Id</td>
				<td>@el.Name</td>
				<td>@el.Price</td>
				<td>@el.DateOfBegin</td>
				<td><input type="button" id="btn" value="@el.Id"/></td>
			</tr>
		}
	</tbody>
</table>

<div>
	<div id="delete-window" style="text-align: center;">
		<h3 style="margin: 20px 0px;">Вы действительно хотите удалить эту услугу?</h3>
	</div>
</div>