@using FirstTask.Resources;

<form id="companiesForm" class="submit-form">
	<h2 id="companyFormTitle"></h2>
	<input type="hidden" name="Id" id="companyInputId" />
	<div class="container submit-form-fields">
		<div class="row">
			<div class="col-4">
				<label for="name">@Resource.LabelName</label>
			</div>
			<div class="col-7">
				<input type="text" name="Name" id="companyInputName" placeholder="@Resource.PlaceholderName" />
			</div>
		</div>
		<div class="row">
			<div class="col-4">
				<label for="BIN">@Resource.LabelBIN</label>
			</div>
			<div class="col-7">
				<input type="text" name="BIN" id="companyInputBIN" placeholder="@Resource.PlaceholderBIN" />
			</div>
		</div>
		<div class="row">
			<div class="col-4">
				<label for="Phone">@Resource.LabelPhone</label>
			</div>
			<div class="col-7">
				<input type="text" name="Phone" id="companyInputPhone" placeholder="@Resource.PlaceholderPhone" />
			</div>
		</div>
		<div class="row">
			<div class="col-4">
				<label for="DateOfBegin">@Resource.LabelDateOfBegin</label>
			</div>
			<div class="col-7">
				<input type="text" name="DateOfBegin" id="companyInputDateOfBegin" placeholder="@Resource.PlaceholderDateOfBegin" />
			</div>
		</div>
	</div>
	<div class="button-block">
		<button type="submit" id="companyFormButtonSubmit" class="btn-primary">@Resource.ButtonSave</button>
		<button id="companyFormButtonCancel" type="button" class="btn-default">@Resource.ButtonCancellation</button>
	</div>
</form>
