@using FirstTask.Resources;
@{
	ViewBag.Title = @Resource.HeadingCompanies;
}

<script type="text/javascript">
	$(document).ready(function () {
		var controls = {};
		controls.CurrentFieldId = {};

		$("#companyNotifications").kendoNotification({});
		controls.Notification = $("#companyNotifications").data("kendoNotification");

		$("#companyFormDialog").kendoDialog({
			closable: false, visible: false, title: false, width: "900"
		});
		controls.FormDialog = $("#companyFormDialog").data("kendoDialog");

		$("#companyWarningWindow").kendoDialog({
			closable: false, visible: false, title: false
		});
		controls.DeleteDialog = $("#companyWarningWindow").data("kendoDialog");

		$("#companyToolBar").kendoToolBar({});

		$("#companyStatusesList").kendoDropDownList({
			dataTextField: "text",
			dataValueField: "value",
			dataSource: [
				{ text: "@Resource.StatusActive", value: 1 },
				{ text: "@Resource.StatusDisable", value: 2 },
			]
		});
		controls.StatusesFilter = $("#companyStatusesList").data("kendoDropDownList");

		$("#companySortingTypes").kendoDropDownList({
			dataTextField: "text",
			dataValueField: "value",
			dataSource: [
				{ text: "@Resource.SortingByName", value: "Name" },
				{ text: "@Resource.SortingByDateOfBegin", value: "DateOfBegin" },
			]
		});
		controls.SortingTypeFilter = $("#companySortingTypes").data("kendoDropDownList");

		$("#companyNameFilter").kendoTextBox({
			placeholder: "@Resource.PlaceholderName"
		});
		controls.NameFilter = $("#companyNameFilter").data("kendoTextBox");

		controls.FormHeader = $("#companyFormTitle");

		let dataSource = new kendo.data.DataSource({
			pageSize: 20,
			transport: {
				read: {
					url: "/Company/Index",
					type: "POST",
					contentType: "application/json; charset=utf-8",
				},
				parameterMap: function (options) {
					let name = $("#companyNameFilter").val();
					var data = {
						CompanyName: name,
						Page: options.page,
						PageSize: options.pageSize,
						Status: controls.StatusesFilter.value(),
						SortingType: controls.SortingTypeFilter.value()
					}
					return kendo.stringify(data);
				}
			},
			schema: {
				total: function (response) {
					if (response.length > 0)
						return response[0].TotalRows;
					else
						return 1;
				},
				model: {
					fields: {
						DateOfBegin: { type: "date" }
					}
				}
			},
			page: "Page",
			serverPaging: true,
			serverSorting: true,
		});

		$("#companyGrid").kendoGrid({
			dataSource: dataSource,
			columns: [
				{ field: "Id", title: "Id", width: "5%", hidden: true },
				{ field: "Name", title: "@Resource.LabelCompany", width: "15%" },
				{ field: "Phone", title: "@Resource.LabelPhone", width: "10%" },
				{ field: "BIN", title: "@Resource.LabelBIN", width: "10%" },
				{ field: "DateOfBegin", title: "@Resource.LabelDateOfBegin", width: "10%", format: "{0: dd-MM-yyyy}" },
				{
					field: "Status", title: "@Resource.LabelStatus", width: "5%", values: [
						{ text: "@Resource.StatusActive", value: 1 },
						{ text: "@Resource.StatusDisable", value: 2 },
					]
				},

				{
					command: [
						{
							name: "Delete",
							className: "btn-destroy",
							text: "@Resource.ButtonDelete",
							visible: function (dataItem) { return dataItem.Status == 1 },
							click: function (e) {
								var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
								controls.CurrentFieldId = dataItem.Id;
								controls.DeleteDialog.open();
							},
						},
						{
							name: "Activate",
							className: "btn-activate",
							text: "@Resource.ButtonActivate",
							visible: function (dataItem) { return dataItem.Status == 2 },
							click: function (e) {
								var dataItem = this.dataItem($(e.currentTarget).closest("tr"));

								$.ajax({
									url: "/Company/Activate/",
									type: "POST",
									data: { id: dataItem.Id },
									success: function (json) {
										if (json.IsSuccess == true) {
											controls.Grid.dataSource.read();
											controls.Notification.success(json.Message);
										}
										else {
											controls.Notification.error(json.Message);
										}
									}
								})
							}
						},
						{
							name: "Edit",
							className: "btn-edit",
							text: "@Resource.ButtonEdit",
							click: function (e) {
								var dataItem = this.dataItem($(e.currentTarget).closest("tr"));

								$("#companyInputId").val(dataItem.Id);
								$("#companyInputName").data("kendoTextBox").value(dataItem.Name);
								$("#companyInputBIN").data("kendoMaskedTextBox").value(dataItem.BIN);
								$("#companyInputPhone").data("kendoMaskedTextBox").value(dataItem.Phone);
								$("#companyInputDateOfBegin").data("kendoDatePicker").value(dataItem.DateOfBegin);

								controls.FormHeader.text("@Resource.CompanyEditFormHeader");
								controls.FormDialog.open();
							},
						}
					],
					width: "13%",
				},
			],
			height: 620,
			pageable: {
				messages: {
					display: '<button type="button" id="companyInsertButton">@Resource.ButtonAdd</button>'
				}
			},
			scrollable: true,
		});
		controls.Grid = $("#companyGrid").data("kendoGrid");

		// Click

		$("body").on("click", "#companyInsertButton", function () {
			$("#companyInputId").val(0);
			controls.FormHeader.text("@Resource.CompanyInsertFormHeader");
			controls.FormDialog.open();
		});

		$("body").on("click", "#companySearchButton", function () {
			controls.Grid.dataSource.read();
		});

		$("body").on("click", "#companyButtonDeleteAgainst", function () {
			controls.DeleteDialog.close();
		});

		$("body").on("click", "#companyButtonDeleteAgree", function () {
			$.ajax({
				url: "/Company/Delete",
				type: "POST",
				data: { Id: controls.CurrentFieldId },
				success: function (json) {
					if (json.IsSuccess == true) {
						controls.Grid.dataSource.read();
						controls.DeleteDialog.close();
						controls.Notification.success(json.Message);
					}
					else {
						controls.Notification.error(json.Error);
					}
				}
			})
		});

		controls.Form = $("#companiesForm");
		controls.Form.kendoForm({
			orientation: "horizontal",
			visible: true,
			width: "100%",
			buttonsTemplate: "",
		});

		$("#companyInputName").kendoTextBox({});

		$("#companyInputBIN").kendoMaskedTextBox({
			placeholder: "111",
			mask: "000-000-000-000"
		});
		$("#companyInputPhone").kendoMaskedTextBox({
			mask: "0-(000)-000-00-00"
		});
		$("#companyInputDateOfBegin").kendoDatePicker({
			format: 'dd/MM/yyyy',
		});

		controls.FormValidator = $("#companiesForm").validate({
		rules: {
			Name: {
				required: true,
				minlength: 10
			},
			Phone: {
				required: true,
				pattern: "^[0-9]-[(]?[0-9]{3}[)]?-[0-9]{3}-[0-9]{2}-[0-9]{2}$"
			},
			BIN: {
				required: true,
				pattern: "^[0-9]{3}-[0-9]{3}-[0-9]{3}-[0-9]{3}$"
			},
			DateOfBegin: {
				required: true,
				dateFilter: true,
				pastDate: true
			},
		},
		messages: {
			Name: {
				required: "@Resource.ValidationMessageInputRequired",
				minlength: "@Resource.ValidationMessageMinLenght: 10"
			},
			BIN: {
				required: "@Resource.ValidationMessageInputRequired",
				pattern: "@Resource.ValidationMessageFormatError:'XXX-XXX-XXX-XXX'"
				},
			DateOfBegin: {
					required: "@Resource.ValidationMessageInputRequired",
					dateFilter: "@Resource.ValidationMessageFormatError 'ДД.ММ.ГГГГ'",
					pastDate: "@Resource.ValidationMessageDateNonCorrect"
				},
			Phone: {
					required: "@Resource.ValidationMessageInputRequired",
					pattern: "@Resource.ValidationMessageFormatError:'X-(XXX)-XXX-XX-XX'"
				}
		},
		submitHandler: function (e) {
			let data = {
				Id: $("#companyInputId").val(),
				Name: $("#companyInputName").data("kendoTextBox").value(),
				BIN: $("#companyInputBIN").data("kendoMaskedTextBox").value().replace(/[^0-9]/g, ''),
				Phone: $("#companyInputPhone").data("kendoMaskedTextBox").value().replace(/[^0-9]/g, ''),
				DateOfBegin: $("#companyInputDateOfBegin").data("kendoDatePicker").value()
			}

			if (data.Id == 0) {
				$.ajax({
					url: "/Company/Add",
					type: "POST",
					contentType: "application/json; charset=utf-8",
					data: JSON.stringify(data),
					success: function (json) {
						if (json.IsSuccess) {
							controls.Form[0].reset();
							controls.FormDialog.close();
							controls.Notification.success(json.Message);
							controls.Grid.dataSource.read();
						}
						else {
							controls.Notification.error(json.Message);
						}
					}
				});
			}
			else {
				$.ajax({
					url: "/Company/Edit",
					type: "POST",
					contentType: "application/json; charset=utf-8",
					data: JSON.stringify(data),
					success: function (json) {
						if (json.IsSuccess) {
							controls.Form[0].reset();
							controls.FormDialog.close();
							controls.Notification.success(json.Message);
							controls.Grid.dataSource.read();
						}
						else {
							controls.Notification.error(json.Message);
						}
					}
				});
			}
		},
		focusInvalid: true,
		errorClass: "validationFormMessage",
		errorElement: 'p',
		errorPlacement: function (error, element) {
			console.log(error, element)
			error.insertAfter(element.closest('div'));
		}
	});

		$("body").on("click", "#companyFormButtonCancel", function (e) {
			controls.FormValidator.resetForm();
			controls.Form[0].reset();
		$("#companyFormDialog").data("kendoDialog").close();
	});
	});
</script>

<h2>@Resource.HeadingCompanies</h2>

<span id="companyNotifications"></span>

<div class="container">
	<div id="companyGrid">
		<div id="companyToolBar">
			<p>@Resource.FilterStatus</p>
			<div id="companyStatusesList"></div>
			<p>@Resource.FilterSorting</p>
			<div id="companySortingTypes"></div>
			<p>@Resource.FilterName</p>
			<input type="text" name="FilterName" id="companyNameFilter" />
			<button type="button" id="companySearchButton">@Resource.ButtonSearch</button>
		</div>
	</div>

	<div id="companyFormDialog" class="submit-form-dialog">
		@Html.Partial("_PartialCompanyForm")
	</div>

	<div id="companyWarningWindow" class="confirmation-block">
		<h2>@Resource.DeleteWarningMessage</h2>

		<div class="row" style="text-align: center">
			<div class="col-6">
				<button type="submit" id="companyButtonDeleteAgree" class="btn-success" ">@Resource.ButtonAgree</button>
			</div>
			<div class="col-5">
				<button type="button" id="companyButtonDeleteAgainst" class="btn-danger">@Resource.ButtonAgainst</button>
			</div>
		</div>
	</div>
</div>


