@using FirstTask.Resources;

@{
	ViewBag.Title = @Resource.HeadingCompanies;
}

<div id="companiesNotification"></div>
<div class="container">
	<div id="companiesGrd"></div>


	<div id="companiesDialog">
		@Html.Partial("_PartialCompanyForm")
	</div>
</div>

<div id="companiesDeleteDialog">
	<h2>@Resource.DeleteWarningMessage</h2>
	<div class="row">
		<div class="col-md-6">
			<button id="companiesDeleteDialogAgree" type="submit">Да</button>
		</div>
		<div class="col-md-5">
			<button id="companiesDeleteDialogClose">Нет</button>
		</div>
	</div>
</div>



<script type="text/javascript">

	var controlls = {};
	controlls.CurrentField = {};
	controlls.Form = $("#companiesForm");
	controlls.FormTitle = $("#formTitle");

	$("#companiesNotification").kendoNotification({});
	controlls.Notification = $("#companiesNotification").data("kendoNotification");

	$("#companiesDialog").kendoDialog({
		closable: false,
		title: false,
		visible: false
	});
	controlls.FormDialog = $("#companiesDialog").data("kendoDialog");

	$("#companiesDeleteDialog").kendoDialog({
		closable: false,
		title: false,
		visible: false
	});
	controlls.DeleteDialog = $("#companiesDeleteDialog").data("kendoDialog");

	controlls.GridDataSource = new kendo.data.DataSource({
		pageSize: 20,
		transport: {
			read: {
				url: "/Company/Index",
				type: "POST",
				contentType: "application/json; charset=utf-8",
			},
			parameterMap: function (options) {
				let name = $("#nameFilter").val();
				var data = {
					CompanyName: null,
					Page: options.page,
					PageSize: 20,
					Status: 1,
					SortingType: null
				}
				return kendo.stringify(data);
			}
		},
		schema: {
			total: function (response) {
				if (response.length > 0)
					return response[0].TotalRows;
				else
					return 1;
			},
			model: {
				fields: {
					DateOfBegin: { type: "date" }
				}
			}
		},
		serverPaging: true,
		serverSorting: true,
	});

	$("#companiesGrd").kendoGrid({
		dataSource: controlls.GridDataSource,
		columns: [
			{ field: "Name", title: "Имя" },
			{ field: "DateOfBegin", title: "Дата" },
			{
				command: [
					{
						name: "Delete",
						className: "btn-destroy",
						text: "@Resource.ButtonDelete",
						click: function (e) {
							controlls.DeleteDialog.open();
							controlls.CurrentField = this.dataItem($(e.currentTarget).closest("tr"));
						}
					},
					{
						name: "Edit",
						className: "btn-edit",
						text: "@Resource.ButtonEdit",
						click: function (e) {
							controlls.FormDialog.open();
							let currentField = this.dataItem($(e.currentTarget).closest("tr"));
							controlls.CurrentField = currentField;
							controlls.FormTitle.text("@Resource.ServiceEditFormHeader");
							$("#companyInputName").val(currentField.Name);
							$("#companyInputDateOfBegin").val(currentField.DateOfBegin);
							$("#companyInputPhone").val("asdasd");
						}
					},
				]

			}
		],
			height: 620,
			pageable: {
				messages: {
					display: '<button type="button" id="companiesInsert">@Resource.ButtonAdd</button>'
				}
			},
			scrollable: true,
	});
	controlls.Grid = $("#companiesGrd").data("kendoGrid");

	$("body").on("click", "#companiesDeleteDialogClose", function () {
		controlls.DeleteDialog.close();
	});

	$("body").on("click", "#companiesInsert", function () {
		controlls.FormTitle.text("@Resource.ServiceInsertFormHeader");
		controlls.Form[0].reset();
		controlls.FormDialog.open();
	});

	$("body").on("click", "#companiesDeleteDialogAgree", function (e) {
		let fieldId = controlls.CurrentField.Id;

		$.ajax({
			url: "/Company/DeleteCompany/",
			type: "POST",
			data: { id: fieldId },
			success: function (json) {
				if (json.IsSuccess == true) {
					controlls.Notification.success(json.Message);
					controlls.DeleteDialog.close();
					controlls.GridDataSource.read();
				}
				else {
					controlls.Notification.error(json.Message);
				}
			}
		});
	});

</script>
