@using FirstTask.Resources;

<form id="employeeForm">
	<h2 id="employeeFormTitle"></h2>
	<input type="hidden" name="Id" id="employeeInputId" />
	<div class="row">
		<div class="col align-self-start">
			<label for="name">@Resource.LabelName</label>
		</div>
		<div class="col align-self-center">
			<input type="text" name="Name" id="companyInputName" placeholder="@Resource.PlaceholderName" />
		</div>
	</div>
	<div class="row">
		<div class="col align-self-start">
			<label for="BIN">@Resource.LabelBIN</label>
		</div>
		<div class="col align-self-center">
			<input type="text" name="BIN" id="companyInputBIN" placeholder="@Resource.PlaceholderBIN" />
			<span></span>
		</div>
	</div>
	<div class="row">
		<div class="col align-self-start">
			<label for="Phone">@Resource.LabelPhone</label>
		</div>
		<div class="col align-self-center">
			<input type="text" name="Phone" id="companyInputPhone" placeholder="@Resource.PlaceholderPhone" />
			<span></span>
		</div>
	</div>
	<div class="row">
		<div class="col align-self-start">
			<label for="DateOfBegin">@Resource.LabelDateOfBegin</label>
		</div>
		<div class="col align-self-center">
			<input type="text" name="DateOfBegin" id="companyInputDateOfBegin" placeholder="@Resource.PlaceholderDateOfBegin" />
			<span></span>
		</div>
	</div>
	<div class="row">
		<div class="col align-self-start">
			<button type="submit" id="companyFormButtonSubmit" class="btn-primary">@Resource.ButtonSave</button>
		</div>
		<div class="col align-self-end">
			<button id="companyFormButtonCancel" type="button" class="btn-danger">@Resource.ButtonCancellation</button>
		</div>
	</div>
</form>
