@using FirstTask.Resources;

<form id="employeeForm" class="submit-form">
	<h2 id="employeeFormTitle"></h2>
	<input type="hidden" name="Id" id="employeeInputId" />
	<div class="container submit-form-fields">
		<div class="row">
			<div class="col-4">
				<label for="FullName">@Resource.LabelFullName</label>
			</div>
			<div class="col-7">
				<input type="text" name="FullName" id="employeeInputFullName" placeholder="@Resource.PlaceholderFullName" />
			</div>
		</div>
		<div class="row">
			<div class="col-4">
				<label for="PersonalNumber">@Resource.LabelPersonalNumber</label>
			</div>
			<div class="col-7">
				<input type="text" name="PersonalNumber" id="employeeInputPersonalNumber" placeholder="@Resource.PlaceholderPersonalNumber" />
				<span></span>
			</div>
		</div>
		<div class="row">
			<div class="col-4">
				<label for="Phone">@Resource.LabelPhone</label>
			</div>
			<div class="col-7">
				<input type="text" name="Phone" id="employeeInputPhone" placeholder="@Resource.PlaceholderPhone" />
				<span></span>
			</div>
		</div>
		<div class="row">
			<div class="col-4">
				<label for="Phone">@Resource.LabelCompany</label>
			</div>
			<div class="col-7">
				<input type="text" name="Company" id="employeeCmbCompany" placeholder="@Resource.PlaceholderCompany" />
				<span></span>
			</div>
		</div>
		<div class="row">
			<div class="col-4">
				<label for="BirthdayDate">@Resource.LabelBirthdayDate</label>
			</div>
			<div class="col-7">
				<input type="text" name="BirthdayDate" id="employeeInputBirthdayDate" placeholder="@Resource.PlaceholderBirthdayDate" />
				<span></span>
			</div>
		</div>
		<div class="row">
			<div class="col-4">
				<label for="DateOfBegin">@Resource.LabelDateOfBegin</label>
			</div>
			<div class="col-7">
				<input type="text" name="DateOfBegin" id="employeeInputDateOfBegin" placeholder="@Resource.PlaceholderDateOfBegin" />
				<span></span>
			</div>
		</div>
	</div>
	<div class="button-block">
		<button type="submit" id="employeeFormButtonSubmit" class="btn-primary">@Resource.ButtonSave</button>
		<button id="employeeFormButtonCancel" type="button" class="btn-default">@Resource.ButtonCancellation</button>
	</div>
</form>
