@using FirstTask.Resources;

@{
	ViewBag.Title = Resource.HeadingEmployee;
}

<h2>@Resource.HeadingEmployee</h2>

<span id="companyNotifications"></span>

<div class="container">
	<div id="employeeGrid">
		<div id="employeeToolBar">
			<p>@Resource.FilterStatus</p>
			<div id="employeeStatusesList"></div>
			<p>@Resource.FilterSorting</p>
			<div id="employeeSortingTypes"></div>
			<p>@Resource.FilterCompany</p>
			<div id="employeeCompanyFilter"></div>
			<p>@Resource.FilterName</p>
			<input type="text" name="FilterName" id="employeeNameFilter" />
			<button type="button" id="employeeSearchButton">@Resource.ButtonSearch</button>
		</div>
	</div>

	<div id="employeeFormDialog">
		@Html.Partial("_PartialEmployeeForm")
	</div>

	<div id="employeeWarningWindow">
		<h2>@Resource.DeleteWarningMessage</h2>

		<div class="row" style="text-align: center">
			<div class="col-6">
				<button type="submit" id="companyButtonDeleteAgree" class="btn-success" ">@Resource.ButtonAgree</button>
			</div>
			<div class="col-5">
				<button type="button" id="companyButtonDeleteAgainst" class="btn-danger">@Resource.ButtonAgainst</button>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">

	$(document).ready(function () {

		var controls = {};
		controls.CurrentFieldId = {};

		$("#employeeNotifications").kendoNotification({});
		controls.Notification = $("#employeeNotifications").data("kendoNotification");

		$("#employeeFormDialog").kendoDialog({
			closable: false, visible: false, title: false, width: "900"
		});
		controls.FormDialog = $("#employeeFormDialog").data("kendoDialog");

		$("#employeeWarningWindow").kendoDialog({
			closable: false, visible: false, title: false
		});
		controls.DeleteDialog = $("#employeeWarningWindow").data("kendoDialog");

		$("#employeeToolBar").kendoToolBar({});

		$("#employeeStatusesList").kendoDropDownList({
			dataTextField: "text",
			dataValueField: "value",
			dataSource: [
				{ text: "@Resource.StatusActive", value: 1 },
				{ text: "@Resource.StatusDisable", value: 2 },
			]
		});
		controls.StatusesFilter = $("#employeeStatusesList").data("kendoDropDownList");

		$("#employeeSortingTypes").kendoDropDownList({
			dataTextField: "text",
			dataValueField: "value",
			dataSource: [
				{ text: "@Resource.SortingByName", value: "FullName" },
				{ text: "@Resource.SortingByDateOfBegin", value: "DateOfBegin" },
				{ text: "@Resource.SortingByBirthdayDate", value: "BirthdayDate" },
			]
		});
		controls.SortingTypeFilter = $("#employeeSortingTypes").data("kendoDropDownList");

		$("#employeeCompanyFilter").kendoComboBox({
			placeholder: "@Resource.FilterCompany",
			dataTextField: "Name",
			dataValueField: "Id",
			filter: "contains",
			dataSource: {
				serverFiltering: true,
				transport: {
					read: {
						url: "/Company/Index/",
						type: "POST",
						data: {
							CompanyName: name,
							Page: 1,
							PageSize: 150,
							Status: 1
						}
					},
				}
			}
		});
		controls.CompanyFilter = $("#employeeCompanyFilter").data("kendoComboBox");

		$("#employeeNameFilter").kendoTextBox({
			placeholder: "@Resource.PlaceholderName"
		});
		controls.NameFilter = $("#employeeNameFilter").data("kendoTextBox");

		controls.FormHeader = $("#employeeFormTitle");

		let dataSource = new kendo.data.DataSource({
			pageSize: 20,
			transport: {
				read: {
					url: "/Employee/Index",
					type: "POST",
					contentType: "application/json; charset=utf-8",
				},
				parameterMap: function (options) {
					let name = $("#employeeNameFilter").val();
					var data = {
						FullName: name,
						Page: options.page,
						PageSize: options.pageSize,
						Status: controls.StatusesFilter.value(),
						SortingType: controls.SortingTypeFilter.value(),
						CompanyId: controls.CompanyFilter.value()
					}
					return kendo.stringify(data);
				}
			},
			schema: {
				total: function (response) {
					if (response.length > 0)
						return response[0].TotalRows;
					else
						return 1;
				},
				model: {
					fields: {
						DateOfBegin: { type: "date" },
						BirthdayDate: { type: "date" }
					}
				}
			},
			page: "Page",
			serverPaging: true,
			serverSorting: true,
		});

		$("#employeeGrid").kendoGrid({
			dataSource: dataSource,
			columns: [
				{ field: "Id", title: "Id", width: "1%", hidden: true },
				{ field: "Company.Id", title: "Id", width: "1%", hidden: true },
				{ field: "FullName", title: "@Resource.LabelFullName", width: "15%" },
				{ field: "PersonalNumber", title: "@Resource.LabelPersonalNumber", width: "10%" },
				{ field: "Company.Name", title: "@Resource.LabelCompany", width: "10%" },
				{ field: "BirthdayDate", title: "@Resource.LabelBirthdayDate", width: "10%", format: "{0: dd-MM-yyyy}" },
				{ field: "DateOfBegin", title: "@Resource.LabelDateOfBegin", width: "10%", format: "{0: dd-MM-yyyy}" },
				{
					field: "Status", title: "@Resource.LabelStatus", width: "5%", values: [
						{ text: "@Resource.StatusActive", value: 1 },
						{ text: "@Resource.StatusDisable", value: 2 },
					]
				},
				{
					command: [
						{
							name: "Delete",
							className: "btn-destroy",
							text: "@Resource.ButtonDelete",
							visible: function (dataItem) { return dataItem.Status == 1 },
							click: function (e) {
								var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
								controls.CurrentFieldId = dataItem.Id;
								controls.DeleteDialog.open();
							},
						},
						{
							name: "Activate",
							className: "btn-activate",
							text: "@Resource.ButtonActivate",
							visible: function (dataItem) { return dataItem.Status == 2 },
							click: function (e) {
								var dataItem = this.dataItem($(e.currentTarget).closest("tr"));

								$.ajax({
									url: "/Employee/Activate/",
									type: "POST",
									data: { id: dataItem.Id },
									success: function (json) {
										if (json.IsSuccess == true) {
											controls.Grid.dataSource.read();
											controls.Notification.success(json.Message);
										}
										else {
											controls.Notification.error(json.Message);
										}
									}
								})
							}
						},
						{
							name: "Edit",
							className: "btn-edit",
							text: "@Resource.ButtonEdit",
							click: function (e) {
								var dataItem = this.dataItem($(e.currentTarget).closest("tr"));

								$("#employeeInputId").val(dataItem.Id);
								$("#employeeInputFullName").data("kendoTextBox").value(dataItem.FullName);
								$("#employeeInputPersonalNumber").data("kendoMaskedTextBox").value(dataItem.PersonalNumber);
								$("#employeeInputCompanyId").data("kendoComboBox").value(dataItem.Company.Id);
								$("#employeeInputBirthdayDate").data("kendoDatePicker").value(dataItem.BirthdayDate);
								$("#employeeInputDateOfBegin").data("kendoDatePicker").value(dataItem.DateOfBegin);

								controls.FormHeader.text("@Resource.EmployeeEditFormHeader");
								controls.FormDialog.open();
							},
						}
					],
					width: "13%",
				},
			],
			height: 620,
			pageable: {
				messages: {
					display: '<button type="button" id="employeeInsertButton">@Resource.ButtonAdd</button>'
				}
			},
			scrollable: true,
		});

		controls.Grid = $("#employeeGrid").data("kendoGrid"); $("body").on("click", "#employeeInsertButton", function () {
			$("#employeeInputId").val(0);
			controls.FormHeader.text("@Resource.CompanyInsertFormHeader");
			controls.FormDialog.open();
		});

		$("body").on("click", "#employeeSearchButton", function () {
			controls.Grid.dataSource.read();
		});

		$("body").on("click", "#employeeButtonDeleteAgainst", function () {
			controls.DeleteDialog.close();
		});

		$("body").on("click", "#employeeButtonDeleteAgree", function () {
			$.ajax({
				url: "/Employee/Delete",
				type: "POST",
				data: { Id: controls.CurrentFieldId },
				success: function (json) {
					if (json.IsSuccess == true) {
						controls.Grid.dataSource.read();
						controls.DeleteDialog.close();
						controls.Notification.success(json.Message);
					}
					else {
						controls.Notification.error(json.Error);
					}
				}
			})
		});

		controls.Form = $("#employeeForm");
		controls.Form.kendoForm({
			orientation: "horizontal",
			visible: true,
			width: "100%",
			buttonsTemplate: "",
		});

		$("#employeeInputName").kendoTextBox({});

		$("#employeeInputBIN").kendoMaskedTextBox({
			placeholder: "111",
			mask: "000-000-000-000"
		});
		$("#employeeInputPhone").kendoMaskedTextBox({
			mask: "0-(000)-000-00-00"
		});
		$("#employeeInputDateOfBegin").kendoDatePicker({
			format: 'dd/MM/yyyy',
		});
	});
</script>
